input{
    display: block;
}

.type {
    padding-left: 20px;
}

a{
    color: black;
}

.article-list {
    height: 300px;
    width: 200px;
    border: 2px dotted black;
}

button {
    margin:10px 15px
}